{% extends 'main/base.html' %}

{%block content%}
<h1>Log In</h1>

<div class="form-group">
<form method="POST">
    {% csrf_token %}

     <div class="mb-3 row">
        <input type="text" class="form-control" name="username" placeholder="Username">
    </div>

    <div class="mb-3 row">
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>


    <button class="btn btn-primary" type="submit">Log In</button>
    </form>

<p class="text">Not registered?
    <a href="/accounts/register">Sign Up</a>.
</p>
</div>
{%endblock content%}